# Database
DATABASE_URL=postgresql://faskins_user:password@localhost:5432/faskins

# Redis
REDIS_URL=redis://localhost:6379/0

# FastAPI
SECRET_KEY=change_me_to_random_string
API_PORT=8000

# Steam Bot
STEAM_LOGIN=
STEAM_PASSWORD=
STEAM_STEAM_ID=
STEAM_TRADE_LINK=
STEAM_SHARED_SECRET=
STEAM_IDENTITY_SECRET=
STEAM_LOGIN_SECURE=
STEAM_SESSION_ID=

# Blockchain
SEPOLIA_RPC_URL=
DEPLOYER_PRIVATE_KEY=
SKIN_TOKEN_ADDRESS=

# Steam Web API
STEAM_API_KEY=

# Auth
BASE_URL=https://fa.stfnasf.tech
JWT_EXPIRE_HOURS=168
